.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  margin-top: 70px;
  font-family: sans-serif;
}

.navigation {
  height: 70px;
  background-color: #262626;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  
}

.brand {
  float: left;
  line-height: 0px;
  
  padding-left: 0px;
  background-color: #262626;
 }

.brand a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  background: #262626;
  text-decoration: none;
  line-height: 70px;
}

nav ul li a:hover {
          background: #2581DC;
          color: #ffffff;
          transition: .4s;
}

nav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: '  ▾'; }

nav ul li ul li {
  min-width: 160px;
  }

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  width: 161px;
  
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none; 
  width: min-content;
}

/* Mobile Hamburger Menu */

.nav-mobile {
  display: none;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #262626;
}

/* Media Query for Navigation */

@media only screen and (max-width: 800px) {

  .nav-mobile {
    display: block;
  }
  
  nav {
    width: 100%;
    padding: 0 15px;
  }
  
  nav ul {
    display: none;
  }
  
  nav ul li {
    float: none;
  }
  
   nav ul li a {
          padding: 15px;
          line-height: 20px; 
  }

  nav ul li ul li a {
          padding-left: 40px;
          background-color: gray;
  }
  
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important; } }
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 30px;
    background: pink;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }


.typing-div{
  color: lightblue; 
  font-size: 42px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
  text-align: left;
}

.typing-div:nth-child(2){
  animation: type2 7s steps(60, end);
}

.typing-div:nth-child(3){
  animation: type2 10s steps(60, end);
}

.typing-div a{
  color: lime;
  text-decoration: none;
}

.line {
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}


.container {
  display: flex;
  padding: 0 55px;
}

.item {
  background: rgb(60, 64, 69);
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

.container:hover .item {
  transform: translateX(-10%);
}



.item:hover ~ .item {
  transform: translateX(10%);
}

.item:hover {
  transform: scale(1.2) !important;
}

.content {
  margin-top: 40px;
  height: 300px;
  position: relative;
}

.background {
  display: flex;
  height: 100%;
}

.left {
  background: black;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  background: green;
  width: 70%;
}

.content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px
}